.hero {
  color: var(--clr-text);
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(70, 70, 70, 0.35), rgba(70, 70, 70, 0.65)),
    url("/images/laptop2-austindistel.jpg") no-repeat center center;
  background-size: cover;
  background-position: 20% 50%;
}

.hero_header {
  text-align: center;
  text-shadow: 1px 1px 3px #444;
  margin-bottom: 0.5em;

  p {
    font-size: 1.5em;
  }

  h1 {
    margin: 0.35em auto 0.35em -5px;
    text-shadow: 1px 1px 3px #444;
    color: var(--clr-primary);
    font-weight: 700;
    letter-spacing: -1px;
    span {
      opacity: 0.8;
    }
  }
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 1em;
  a {
    text-align: center;
    padding: 0.7em;
    width: clamp(230px, 16vw, 550px);
    border-radius: 6px;
    font-size: 1.2rem;
    background: #404040;
    transition: transform 400ms ease;
    &:hover {
      transform: scale(1.08);
    }
  }

  .cta_main {
    background: var(--clr-primary);
    opacity: 1;
  }
}

.socials {
  margin-top: 2em;
  ul {
    list-style: none;
    display: flex;
    gap: 2em;
  }
}

.wave {
  // Credit: https://jarv.is/notes/css-waving-hand-emoji/
  font-size: 2.5rem;
  animation-name: wave-animation;
  animation-duration: 2.25s; /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.subtitle_hyphen {
  display: none;
}

@media screen and (min-width: 30em) {
  .hero_header {
    text-align: left;
  }

  .cta {
    justify-content: flex-start;
    flex-direction: row;
  }

  .subtitle_hyphen {
    display: unset;
  }
}
