.list {
    padding: 3em 0;
    display: flex;
    gap: 5em;
    flex-direction: column;

    * {
        flex: 1;
    }
}

@media only screen and (min-width: 30em) {
    .list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }    
}