@font-face {
  font-family: "League Spartan Custom";
  src: url("/fonts/League-Spartan-Custom/leaguespartan-extralight-custom.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "League Spartan Custom";
  src: url("/fonts/League-Spartan-Custom/leaguespartan-light-custom.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "League Spartan Custom";
  src: url("/fonts/League-Spartan-Custom/leaguespartan-regular-custom.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "League Spartan Custom";
  src: url("/fonts/League-Spartan-Custom/leaguespartan-medium-custom.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "League Spartan Custom";
  src: url("/fonts/League-Spartan-Custom/leaguespartan-semibold-custom.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "League Spartan Custom";
  src: url("/fonts/League-Spartan-Custom/leaguespartan-bold-custom.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "League Spartan Custom";
  src: url("/fonts/League-Spartan-Custom/leaguespartan-extrabold-custom.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "League Spartan Custom";
  src: url("/fonts/League-Spartan-Custom/leaguespartan-black-custom.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
