:root {
  --space-x: 1.75rem;
  --clr-primary: hsl(354, 85%, 45%);
  --clr-primary-lighter: hsl(354, 65%, 45%);
  --clr-text: #f0f0f0;
  --clr-bg: #303030;
}

@media screen and (min-width: 30em) {
  :root {
    --space-x: 5rem;
  }
}

@media screen and (min-width: 70em) {
  :root {
    --space-x: 11rem;
  }
}
