.content {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.skills {
  h3 {
    text-align: center;
    font-weight: 400;
    color: #b5b5b5;
    margin: 10px 0;
  }

  ul {
    display: flex;
    gap: 1em 2em;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 30em) {
  .content {
    flex-direction: row;
    align-items: center;
    gap: 3em;
    .intro {
      flex-basis: 40%;
    }
    .skills {
      flex-basis: 60%;
    }
  }
}
