// Card design credit: Kevin Powell
// https://www.youtube.com/watch?v=5DEq5cWNYt8&t=203s

.card {
  max-width: 35ch;
  min-width: 27ch;
  max-height: 20em;
  padding: 5em 0 0;
  box-shadow: 3px 3px 12px rgba(#333, 0.2);
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  transition: transform 500ms ease;
  --content-padding: 1rem;
}

.background {
  opacity: 0.4;
  pointer-events: none;
  object-position: 27% 50%;
}

.content {
  $content-bg: #5a5a5a;
  position: relative;
  background: linear-gradient(
    rgba($content-bg, 0),
    rgba($content-bg, 0.3) 50%,
    rgba($content-bg, 0.6)
  );
}

.description {
  padding: 0.25em var(--content-padding);
}

.skills {
  margin: 10px 0;
  display: flex;
  justify-content: space-evenly;
}

.title {
  font-weight: 400;
  padding: 0 var(--content-padding);
  position: relative;
  width: max-content;
  text-shadow: 1px 1px 3px rgba(#444, 0.5);

  &::after {
    content: "";
    position: absolute;
    z-index: 999;
    bottom: 4px;
    left: 0;
    width: calc(100% - var(--content-padding));
    height: 4px;
    background: #e63030;
  }
}

.footer {
  font-size: 0.8rem;
  height: 2.5rem;
  padding: 0 var(--content-padding);
  border-top: 1px solid rgba(#fff, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .externalLinks {
    display: flex;
    gap: 1em;
    a {
      display: flex;
      &:hover {
        opacity: 0.65;
      }
    }
  }

  .blogLink {
    padding: 0.3em 1.2em;
    border: 2px solid rgba(#fff, 0.5);
    border-radius: 0.5em;

    &:hover {
      background: var(--clr-text);
      color: var(--clr-bg);
    }
  }
}

// Hover animation with mobile fallback. Since mobile has no hover, no hover animations should run
@media (hover) {
  .background {
    opacity: 0.8;
  }
  .content {
    transform: translateY(75%);
    transition: transform 500ms ease;

    .title::after {
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 500ms ease;
    }
  }

  .card:hover,
  .card:focus-within {
    transform: scale(1.05);

    .content {
      transform: translateY(0%);
      transition-delay: 250ms;
    }

    .title::after {
      transform: scaleX(1);
    }

    .background {
      opacity: 0.2;
    }
  }

  .card:focus-within {
    // Fix jumpy glitch when using keyboard navigation
    .content {
      transition-duration: 0ms;
    }
  }
}
