// Card design credit: Kevin Powell
// https://www.youtube.com/watch?v=5DEq5cWNYt8&t=203s

.card {
  max-width: 35ch;
  min-width: 27ch;
  padding: 6em 0 0;
  box-shadow: 3px 3px 12px rgba(#333, 0.2);
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  transition: transform 500ms ease;
}

.background {
  opacity: 0.8;
  z-index: -1;
  pointer-events: none;
}

.content {
  --padding: 1rem;
  padding: var(--padding);
  background: linear-gradient(rgba(#444, 0), rgba(#444, 0.15) 50%, rgba(#444, 0.3));
}

.title {
  font-weight: 400;
  position: relative;
  width: max-content;

  &::after {
    content: "";
    position: absolute;
    bottom: 4px;
    // push it to the left an amount equal to padding so that it touches the left border
    left: calc(-1 * var(--padding));
    // extend width to accommodate for the left-push so that the bar still touches end of title
    width: calc(100% + var(--padding));
    height: 4px;
    background: #e63030;
  }
}

// Hover animation with mobile fallback. Since mobile has no hover, no hover animations should run
@media (hover) {
  .content {
    transform: translateY(62%);
    transition: transform 500ms ease;

    .title::after {
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 500ms ease;
    }
  }

  .card:hover,
  .card:focus-within {
    transform: scale(1.05);

    .content {
      transform: translateY(0%);
      transition-delay: 250ms;
    }

    .title::after {
      transform: scaleX(1);
    }
  }

  .card:focus-within {
    // Fix jumpy glitch when using keyboard navigation
    .content {
      transition-duration: 0ms;
    }
  }
}
