.footer {
  background-color: #292929;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.1rem;
}

.nav {
  display: flex;
  justify-content: center;
}

.linklist {
  display: flex;
  gap: 1em;

  li a:hover {
    color: #28afb0;
  }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    gap: 2em;
  }
}
